.header
  .headertext
    SmartStylus
    %div{style: "margin-top:150px"}
    %img{src:"assets/stylus3.png", style: "zoom:1.25;"}
.break
.container{style: "margin-top:50px;"}
  .contenttext.left{style: "margin-left:10%;"}
    .h1
      The Next Big Thing
    %br
    .h2
      We believe that technology should enhance and simplify our lives, not complicate them.
      %br
      %br
      A pen, a stylus, a laser pointer, and an LED light. For the professional on overdrive.
  .contentpic.right
    %img{src:"assets/stylus2.png"}
.break
.container
  .contentpic.left
    %img{src:"assets/stylus4.png", style:"margin-top:40px;"}
  .contenttext.right
    .h1
      "The Ultimate Tool for the Digital Age"
    %br
    .h2
      Test test test test test test test test test testest estestset estsetestsetset stsetsetwetstesetseseset sdet seuhasfafksadkj faja sdjfu UGHUGUHUGUHGHUGUHHUHUHUGHUGUHGHUGUHGHUGHUHU
.break
.container
  .contenttext.left{style: "margin-left:10%;"}
    .h1
      The Next Big Thing
    %br
    .h2
      We believe that technology should enhance and simplify our lives, not complicate them.
      %br
      %br
      A pen, a stylus, a laser pointer, and an LED light. For the professional on overdrive.
  .contentpic.right
    %img{src:"assets/tablet.png"}
%div{style: "text-align:center; margin-top:50px;"}
  
/ =form_tag charges_path do
/   %article
/     %label{class: "amount"}
/       %span
/         Amount: $24.99
/   %script{src:"https://checkout.stripe.com/v2/checkout.js", class:"stripe-button", data-key:"<%= Rails.configuration.stripe[:publishable_key] %>",
/           data-description:"Order your SmartStylus",
/           data-amount:"500"}