.container{style: "margin-top:200px;"}
  .contenttext.left
    .h1
      The Next Big Thing
    %br
    .h2
      We believe that technology should enhance and simplify our lives, not complicate them.
      %br
      %br
      A pen, a stylus, a laser pointer, and an LED light. For the professional on overdrive.
  .contentpic.right
    %img{src:"assets/pen.png"}
.break
.container
  .contentpic.left
    %img{src:"assets/pen.png"}
  .contenttext.right
    .h1
      "The Ultimate Tool for the Digital Age"
    %br
    .h2
      Splooge in my erect anus
.break
.container
  .contenttext.left
    .h1
      The Next Big Thing
    %br
    .h2
      We believe that technology should enhance and simplify our lives, not complicate them.
      %br
      %br
      A pen, a stylus, a laser pointer, and an LED light. For the professional on overdrive.
  .contentpic.right
    %img{src:"assets/pen.png"}
.break
.container
  .contentpic.left
    %img{src:"assets/pen.png"}
  .contenttext.right
    .h1
      "The Ultimate Tool for the Digital Age"
    %br
    .h2
      Splooge in my erect anus

