/*
  =require purecss/base
  =require purecss/buttons
  =require purecss/forms
  =require purecss/grids
  =require purecss/menus
  =require purecss/tables
*/

@font-face{
  font-family: 'segoeuil';
  src:font-url('segoeuil.ttf');
  src:font-url('segoeuil.ttf?iefix') format('truetype');
  font-weight:normal;
  font-style:normal;
}

html *{
  font-family:'segoeuil';
}

/********FONT********/
.h1{
  color:#545454;
  font-size:3em
}

.h2{
  color:#6B6B6B;
  font-size:1.25em;
}

/*******HEADER*******/
.header{
  width:100%;
  height:700px;
}

.headertext{
  padding-top:40px;
  text-align:center;
  color:#545454;
  font-size:6em;
}

.headerimage{
  margin-top:0px;
}

/*******SPACE********/
.container{
  margin-top:30px;
  margin-left:20%;
  margin-right:20%;
  width:60%;
  height:500px;
  display:inline-block;
}

.contentpic{
  width:50%;
  margin-left:5%;
  margin-right:5%;
}

.contenttext{
  width:40%;
}

.left{
  float:left;
}

.right{
  float:right;
}

.break{
  margin-left:auto;
  margin-right:auto;
  width:50%;
  border-top:1px solid gray;
}